.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  white-space: pre-wrap;
}

.input-container {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

label, button {
  font-size: 18px;
  font-family: 'Vampiro One', cursive;
}

input {
  height: 50px;
  margin-top: 5px;
  padding: 0 10px;

  font-size: 18px;

  border: none;
  border-radius: 20px;
  background-color: #FFF298;
}

textarea {
  height: 300px;
  padding: 10px 10px;

  outline: none;
  
  font-size: 18px;

  border: none;
  border-radius: 20px;
  background-color: #FFF298;
  white-space: pre-wrap;
}

span.validation-text {
  color: red;

  display: none;
}

.save-button {
  height: 50px;
  margin-bottom: 10px;
  border: none;
  background: #FFBF00;
  border-radius: 50px;

  transition: background-color .2s;

  cursor: pointer;
}

.save-button:hover {
  background: #EFB300;
}

@media screen and (max-width: 650px) {
  .form {
    width: 80%;
  }

  label {
    font-size: 14px;
  }

  input {
    font-size: 12px;
    height: 30px;
  }

  .card p {
    font-size: 14px;
  }
}